<!DOCTYPE html>
<html ng-app>
	<head>
                <script src="/bower_components/angular/angular.min.js"></script>
                <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
                <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
                <script src="/bower_components/bower-sails.io/sails.io.js"></script>
                <script src="/bower_components/angular-sails/angular-sails.min.js"></script>
		<script src="/bower_components/webaudio-knob/js/polymer.min.js"></script>
		<link rel="import" href="/bower_components/webaudio-knob/webcomponents/knob.html">
                <link rel="stylesheet" typo="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="cacophon.css">
                <script src="cacophon.js"></script>
	</head>
	<body>
          <div ng-controller="CacophonCtrl">
		<div id="panel">
			<webaudio-knob id="knobA" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
			<webaudio-knob id="knobB" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="100" step="1" sprites="100"></webaudio-knob>
			<webaudio-knob id="knobC" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>

			<button type="button" class="btn btn-danger" ng-click="listen()" outline="none">
                          Listen
                        </button>
			<div style="clear: both"></div>
		</div>

		<p>
			This won't work in FireFox and has only been tested in Chrome.
		</p>

                <ul id="history">
                  <li ng-repeat="sound in sounds">
                    <a href="{{sound.url}}">{{sound.url}}</a>
                  </li>
                </ul>
          </div>
	</body>
</html>
