<link rel="import" href="/linker/bower_components/polymer/polymer.html">
<link rel="import" href="/linker/bower_components/webaudio-knob/webcomponents/knob.html">

<polymer-element name="cacophon-synth">
  <template>
    <link rel="stylesheet" href="/linker/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <div id="panel">
      <webaudio-knob id="knobA" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
      <webaudio-knob id="knobB" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="100" step="1" sprites="100"></webaudio-knob>
      <webaudio-knob id="knobC" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
      <button type="button" class="btn btn-danger" on-click="{{ createSound }}" outline="none">
        Listen
      </button>
      <div style="clear: both"></div>
    </div>
  </template>
  <script>
    Polymer('cacophon-synth', {
      createSound: function() {
        var el = this;
        var socket = io.connect();
        var sound = {
          a: this.$.knobA.value,
          b: this.$.knobB.value,
          c: this.$.knobC.value
        };
        socket.post('/sound', sound, function(response) {
        });
      }
    });    
  </script>
</polymer-element>
