<div ng-controller="CacophonCtrl">
      <div id="panel">
      	<webaudio-knob id="knobA" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
      	<webaudio-knob id="knobB" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="100" step="1" sprites="100"></webaudio-knob>
      	<webaudio-knob id="knobC" src="/linker/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>

      	<button type="button" class="btn btn-danger" ng-click="listen()" outline="none">
                Listen
              </button>
      	<div style="clear: both"></div>
      </div>

      <p>
      	This won't work in FireFox and has only been tested in Chrome.
      </p>

      <ul id="history">
        <li ng-repeat="sound in sounds">
          <a href="{{sound.url}}">{{sound.url}}</a>
        </li>
      </ul>
</div>
