<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-flex-layout/polymer-flex-layout.html">
<link rel="import" href="/bower_components/webaudio-knob/webcomponents/knob.html">
<link rel="import" href="sails-io.html">

<polymer-element name="cacophon-synth">
  <template>
    <style>
      #panel {
        border-radius: 25px;
        background: #333;
        width: 340px;
        padding: 20px;
        text-align: center;
      }

      #panel webaudio-knob {
        margin: 0 5px;
      }
      
      #panel button {
        margin: 10px 5px;
      }
    </style>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <div id="panel">
      <polymer-flex-layout></polymer-flex-layout>
      <webaudio-knob id="knobA" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
      <webaudio-knob id="knobB" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="100" step="1" sprites="100"></webaudio-knob>
      <webaudio-knob id="knobC" src="/bower_components/webaudio-knob/img/MiniBrute.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
      <button type="button" class="btn btn-danger" on-click="{{ createSound }}" outline="none">⚫</button>
    </div>
  </template>
  <script>
    Polymer('cacophon-synth', {
      createSound: function() {
        var socket = io.connect();
        var sound = {
          a: this.$.knobA.value,
          b: this.$.knobB.value,
          c: this.$.knobC.value
        };
        socket.post('/sounds', sound, function(response) {
        }.bind(this));
      }
    });
  </script>
</polymer-element>
