<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="/bower_components/webaudio-controls/webcomponents/controls.html">
<link rel="import" href="sails-io.html">
<link rel="import" href="mp3-player.html">

<polymer-element name="cacophon-synth" on-cancel="{{ playSound }}">
  <template>
    <style>
      #panel {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: url(/images/background.jpg) no-repeat center top;
      }
      #controls {
        position: absolute;
        top: 105px;
        width: 730px;
        height: 477px;
        /* center */
        margin-left: 50%; left: -358px;
      }

      #controls webaudio-knob { position: absolute; }
      #controls button { position: absolute; }

      #kSpeed { top: 137px; left: 56px; }
      #kScale { top: 137px; left: 176px; }
      #kPerm { top: 137px; left: 281px; }
      #kSlew { top: 137px; left: 394px; }

      #kRoot { top: 328px; left: 56px; }
      #kSquare { top: 328px; left: 168px; }
      #kAmount { top: 328px; left: 280px; }
      #kOffset { top: 328px; left: 394px; }

      #kAttack { top: 50px; left: 544px; }
      #kDecay { top: 140px; left: 544px; }

      #kTime { top: 260px; left: 544px; }
      #kFeedback { top: 350px; left: 544px; }

      #play { top: 422px; left: 608px; }
      #share { top: 422px; left: 650px; }

    </style>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <div id="panel">
      <div id="controls">
        <webaudio-knob id="kSpeed" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="50" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kScale" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="36" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kPerm" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kSlew" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kRoot" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="50" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kSquare" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kAmount" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kOffset" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="50" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kAttack" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kDecay" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="25" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kTime" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <webaudio-knob id="kFeedback" src="/bower_components/webaudio-controls/img/LittlePhatty.png" min="0" max="100" value="0" step="1" sprites="100"></webaudio-knob>
        <button id="play" type="button" class="btn" on-click="{{ playSound }}" outline="none">▶</button>
        <button id="share" type="button" class="btn btn-danger" on-click="{{ shareSound }}" outline="none">Share</button>
        <mp3-player id="player"></mp3-player>
      </div>
    </div>
  </template>
  <script>
    Polymer('cacophon-synth', {
      getSoundParams: function() {
        return {
          speed: this.$.kSpeed.value,
          scale: this.$.kScale.value,
          perm: this.$.kPerm.value,
          slew: this.$.kSlew.value,
          root: this.$.kRoot.value,
          square: this.$.kSquare.value,
          amount: this.$.kAmount.value,
          offset: this.$.kOffset.value,
          attack: this.$.kAttack.value,
          decay: this.$.kDecay.value,
          time: this.$.kTime.value,
          feedback: this.$.kFeedback.value,
        };
      },
      playSound: function() {
        var sound = this.getSoundParams()
        socket.post('/sounds/preview', sound, function(res) {
           this.$.player.play(res.mp3);
        }.bind(this))
      },
      shareSound: function() {
        var sound = this.getSoundParams()
        sound.author = socket.socket.sessionid;
        socket.post('/sounds', sound, function(response) {
        }.bind(this));
      }
    });
  </script>
</polymer-element>
