<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="cacophon-player.html">

<polymer-element name="cacophon-sound-list">
  <template>
    <polymer-signals on-polymer-signal-sails-sound-create="{{ soundCreated }}"></polymer-signals>
    <style>
      #soundList {
        position: absolute;
	top: 650px;
	width: 350px;
	margin-left: 50%;
	left: -175px;
      }
    </style>
    <ul id="soundList">
      <template repeat="{{ k in keys }}">
        <li>
          <cacophon-player id="player-{{ k }}" name="{{ k }}"></cacophon-player>
        </li>
      </template>
    </ul>
  </template>
  <script>
    Polymer('cacophon-sound-list', {
      created: function() {
        this.players = {};
        this.keys = [];
      },
      soundCreated: function(e, detail, sender) {
        var player = this.shadowRoot.querySelector('#player-' + detail.author);
        if (player) {
           player.play(detail);
        } else {
          this.players[detail.author] = detail.author;
          this.keys = Object.keys(this.players);
        }
      }
    });
  </script>
</polymer-element>
