<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="sails-io.html">
<link rel="import" href="jquery.html">

<polymer-element name="sails-signals" attributes="discover subscribe cookie">
  <script>
    Polymer('sails-signals', {

        ready: function() {
            console.log('sails-signal socket: connecting');
            if (this.discover) {
              $.get(this.discover, function(discovery) {
                $.getJSON(discovery.websocket + this.cookie + '?callback=?&_=[TIMESTAMP]', function(data) {
                  this.connect(discovery.websocket);
                }.bind(this));
              }.bind(this))
            } else {
              this.connect();
            }
        },
        connect: function(uri) {
            window.socket = io.connect(uri);
            socket.on('connect', function() {
              console.log('sails-signal socket: connected');
              if (this.subscribe) {
                socket.post(this.subscribe, function(data) {
                });
              }
            }.bind(this));
            socket.on('message', function (message) {
              var name = 'sails-' + message.model + '-' + message.verb;
              this.fire('polymer-signal', {name: name, data: message.data});
            }.bind(this));
        },
    });
  </script>
</polymer-element>
