<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-signals/polymer-signals.html">
<link rel="import" href="sails-io.html">
<link rel="import" href="jquery.html">

<polymer-element name="sails-signals">
  <script>
    Polymer('sails-signals', {
        
        ready: function() {
          $.get('/discover', function(data) {
            var socket = io.connect(data.websocket);
            socket.on('connect', function() {
    this.fire('polymer-signal', {name: 'sails-connected', data: {'socket': socket}});
    }.bind(this));
            socket.on('message', function (message) {
              var name = 'sails-' + message.model + '-' + message.verb;
              this.fire('polymer-signal', {name: name, data: message.data});
            }.bind(this));
          }.bind(this));
        },
    });
  </script>
</polymer-element>
